In [45]:
import pandas
import os
import numpy as np

from pathlib import Path
from numpy import inf

In [94]:
df = pandas.read_csv(Path('head_to_head-no-cs.csv'))

In [95]:
df.columns

Index(['Benchmark', 'Hipster found', 'Hipster < TheSy', 'TheSy found',
       'TheSy < Hipster', 'TheSy Time', 'Hipster Time'],
      dtype='object')

In [96]:
thesy_better = df[df['TheSy Time'] <= df['Hipster Time']]
hipster_better = df[df['TheSy Time'] > df['Hipster Time']]

print(f"time where thesy was better - thesy: {thesy_better['TheSy Time'].sum()}, hipster: {thesy_better['Hipster Time'].sum()}")
print(f"time where hipster was better - thesy: {hipster_better['TheSy Time'].sum()}, hipster: {hipster_better['Hipster Time'].sum()}")

time where thesy was better - thesy: 995.91268279, hipster: 40795.305689
time where hipster was better - thesy: 16358.927593727, hipster: 6332.0728690000005

In [97]:
len(thesy_better) / len(df)

0.9411764705882353

In [98]:
print(df['TheSy Time'].sum())
print(df['Hipster Time'].sum())

17354.840276516996
47127.378558

In [99]:
df[df['TheSy Time'] < 3600].describe()

,Hipster found,Hipster < TheSy,TheSy found,TheSy < Hipster,TheSy Time,Hipster Time
count,81.000000,81.000000,81.000000,81.000000,81.000000,81.000000
mean,5.555556,2.703704,9.469136,3.777778,36.479510,518.373454
std,4.661008,2.685351,6.967938,3.754997,223.327900,509.726096
min,0.000000,0.000000,0.000000,0.000000,0.001942,5.989510
25%,1.000000,1.000000,3.000000,1.000000,0.094995,180.211175
50%,5.000000,2.000000,8.000000,3.000000,0.254905,298.533363
75%,9.000000,4.000000,13.000000,7.000000,1.124789,787.765798
max,16.000000,11.000000,35.000000,14.000000,1958.927594,2590.696147

In [100]:
description = df.describe()
print(description)
description['Hipster Time'] / description['TheSy Time']

       Hipster found  Hipster < TheSy  TheSy found  TheSy < Hipster  \
count      85.000000        85.000000    85.000000        85.000000
mean        5.517647         2.635294     9.694118         3.670588
std         4.555509         2.645063     6.953970         3.710950
min         0.000000         0.000000     0.000000         0.000000
25%         1.000000         1.000000     4.000000         1.000000
50%         5.000000         2.000000     9.000000         3.000000
75%         9.000000         4.000000    15.000000         7.000000
max        16.000000        11.000000    35.000000        14.000000

        TheSy Time  Hipster Time
count    85.000000     85.000000
mean    204.174591    554.439748
std     789.773941    525.476679
min       0.001942      5.989510
25%       0.102835    182.467021
50%       0.258498    305.370790
75%       1.168010    883.799266
max    3600.000000   2590.696147

count       1.000000
mean        2.715518
std         0.665351
min      3084.115711
25%      1774.367063
50%      1181.328779
75%       756.671143
max         0.719638
dtype: float64

In [101]:
51614.65877354501 / 47127.378558

1.095215994456863

In [102]:
hipster_zero = df[df["Hipster found"] == 0]
thesy_zero = df[df["TheSy found"] == 0]
hipster_z_t_not = df[(df["Hipster found"] == 0) & (df["TheSy found"] != 0)]
diff = (df['Hipster < TheSy'] /  df["Hipster found"]) - (df['TheSy < Hipster'] /  df["TheSy found"])
diff = diff.replace([np.inf, -np.inf], np.nan).dropna()
diff.sum() / len(diff)

0.013146401997373016

In [103]:
len(diff[diff >= 0]) + len(hipster_zero)

60

In [104]:
len(diff[diff > 0]) + len(hipster_z_t_not)

48

In [105]:
len(diff)

66

In [106]:
(diff[diff >= 0].sum() + len(hipster_z_t_not)) / 85

0.2978418962611277